doctype html
html
  head
    title Dance Academy
    block scripts
    block style
  body
    nav#navbar
     ul
       div#logo
           img(src="/static/img/logo2.png")
           | HDA
       li #[a(href="/") Home]
       li #[a(href="/") About]
       li #[a(href="/") Services]
       li #[a(href="/") Class Info]
       li #[a(href="/contact") Contact Us]
    block content
    footer#footer
        |Copyright© 2020 Danceacademy.com | All rights are reserved